.light {
  --md-primary: rgb(82 101 38);
  --md-surface-tint: rgb(82 101 38);
  --md-on-primary: rgb(255 255 255);
  --md-primary-container: rgb(212 236 157);
  --md-on-primary-container: rgb(59 77 15);
  --md-secondary: rgb(90 97 71);
  --md-on-secondary: rgb(255 255 255);
  --md-secondary-container: rgb(222 230 197);
  --md-on-secondary-container: rgb(66 74 49);
  --md-tertiary: rgb(57 102 96);
  --md-on-tertiary: rgb(255 255 255);
  --md-tertiary-container: rgb(188 236 227);
  --md-on-tertiary-container: rgb(32 78 72);
  --md-error: rgb(186 26 26);
  --md-on-error: rgb(255 255 255);
  --md-error-container: rgb(255 218 214);
  --md-on-error-container: rgb(147 0 10);
  --md-background: rgb(250 250 238);
  --md-on-background: rgb(27 28 21);
  --md-surface: rgb(250 250 238);
  --md-on-surface: rgb(27 28 21);
  --md-surface-variant: rgb(226 228 212);
  --md-on-surface-variant: rgb(69 72 60);
  --md-outline: rgb(118 120 107);
  --md-outline-variant: rgb(198 200 184);
  --md-shadow: rgb(0 0 0);
  --md-scrim: rgb(0 0 0);
  --md-inverse-surface: rgb(47 49 41);
  --md-inverse-on-surface: rgb(241 241 229);
  --md-inverse-primary: rgb(185 207 131);
  --md-primary-fixed: rgb(212 236 157);
  --md-on-primary-fixed: rgb(21 31 0);
  --md-primary-fixed-dim: rgb(185 207 131);
  --md-on-primary-fixed-variant: rgb(59 77 15);
  --md-secondary-fixed: rgb(222 230 197);
  --md-on-secondary-fixed: rgb(24 30 9);
  --md-secondary-fixed-dim: rgb(194 202 170);
  --md-on-secondary-fixed-variant: rgb(66 74 49);
  --md-tertiary-fixed: rgb(188 236 227);
  --md-on-tertiary-fixed: rgb(0 32 28);
  --md-tertiary-fixed-dim: rgb(161 208 199);
  --md-on-tertiary-fixed-variant: rgb(32 78 72);
  --md-surface-dim: rgb(219 219 207);
  --md-surface-bright: rgb(250 250 238);
  --md-surface-container-lowest: rgb(255 255 255);
  --md-surface-container-low: rgb(244 244 232);
  --md-surface-container: rgb(239 239 227);
  --md-surface-container-high: rgb(233 233 221);
  --md-surface-container-highest: rgb(227 227 215);
}

.dark {
  --md-primary: rgb(185 207 131);
  --md-surface-tint: rgb(185 207 131);
  --md-on-primary: rgb(38 53 0);
  --md-primary-container: rgb(59 77 15);
  --md-on-primary-container: rgb(212 236 157);
  --md-secondary: rgb(194 202 170);
  --md-on-secondary: rgb(44 51 28);
  --md-secondary-container: rgb(66 74 49);
  --md-on-secondary-container: rgb(222 230 197);
  --md-tertiary: rgb(161 208 199);
  --md-on-tertiary: rgb(2 55 50);
  --md-tertiary-container: rgb(32 78 72);
  --md-on-tertiary-container: rgb(188 236 227);
  --md-error: rgb(255 180 171);
  --md-on-error: rgb(105 0 5);
  --md-error-container: rgb(147 0 10);
  --md-on-error-container: rgb(255 218 214);
  --md-background: rgb(18 20 13);
  --md-on-background: rgb(227 227 215);
  --md-surface: rgb(18 20 13);
  --md-on-surface: rgb(227 227 215);
  --md-surface-variant: rgb(69 72 60);
  --md-on-surface-variant: rgb(198 200 184);
  --md-outline: rgb(144 146 132);
  --md-outline-variant: rgb(69 72 60);
  --md-shadow: rgb(0 0 0);
  --md-scrim: rgb(0 0 0);
  --md-inverse-surface: rgb(227 227 215);
  --md-inverse-on-surface: rgb(47 49 41);
  --md-inverse-primary: rgb(82 101 38);
  --md-primary-fixed: rgb(212 236 157);
  --md-on-primary-fixed: rgb(21 31 0);
  --md-primary-fixed-dim: rgb(185 207 131);
  --md-on-primary-fixed-variant: rgb(59 77 15);
  --md-secondary-fixed: rgb(222 230 197);
  --md-on-secondary-fixed: rgb(24 30 9);
  --md-secondary-fixed-dim: rgb(194 202 170);
  --md-on-secondary-fixed-variant: rgb(66 74 49);
  --md-tertiary-fixed: rgb(188 236 227);
  --md-on-tertiary-fixed: rgb(0 32 28);
  --md-tertiary-fixed-dim: rgb(161 208 199);
  --md-on-tertiary-fixed-variant: rgb(32 78 72);
  --md-surface-dim: rgb(18 20 13);
  --md-surface-bright: rgb(56 58 50);
  --md-surface-container-lowest: rgb(13 15 8);
  --md-surface-container-low: rgb(27 28 21);
  --md-surface-container: rgb(31 32 25);
  --md-surface-container-high: rgb(41 43 35);
  --md-surface-container-highest: rgb(52 54 45);
}
